body {
  font-family: Arial;
  margin: 40px;
}
input,
button {
  margin: 5px;
  padding: 8px;
}
table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 70%;
}
th,
td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}
button {
  cursor: pointer;
}
